annotated-types==0.7.0
anyio==4.9.0
apache-beam==2.61.0
apache-flink==2.0.0
apache-flink-libraries==2.0.0
async-timeout==5.0.1
attrs==25.3.0
avro==1.12.0
blinker==1.9.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==2.2.1
confluent-kafka==2.9.0
contourpy==1.3.1
crcmod==1.7
cycler==0.12.1
defusedxml==0.7.1
dill==0.3.1.1
distro==1.9.0
dnspython==2.7.0
docopt==0.6.2
exceptiongroup==1.2.2
fastapi==0.115.12
fastavro==1.10.0
fasteners==0.19
filelock==3.18.0
find_libpython==0.4.0
Flask==3.1.0
fonttools==4.56.0
fsspec==2025.3.0
grpcio==1.65.5
h11==0.14.0
hdfs==2.7.3
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.9.0
jsonpatch==1.33
jsonpickle==3.4.2
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kafka-python==2.1.5
kiwisolver==1.4.8
langchain-core==0.3.46
langchain-openai==0.3.9
langsmith==0.3.18
MarkupSafe==3.0.2
matplotlib==3.8.2
mpmath==1.3.0
networkx==3.4.2
numpy==1.26.3
objsize==0.7.1
openai==1.67.0
opencv-python==4.11.0.86
orjson==3.10.15
packaging==24.2
pandas==2.2.3
pemja==0.4.1
pillow==11.1.0
proto-plus==1.26.1
protobuf==5.29.4
psutil==7.0.0
py-cpuinfo==9.0.0
py4j==0.10.9.7
pyarrow==16.1.0
pyarrow-hotfix==0.6
pydantic==2.6.1
pydantic_core==2.16.2
pydot==1.4.2
pyflink==1.0
pymongo==4.12.0
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
PyYAML==6.0.2
redis==5.2.1
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
rpds-py==0.24.0
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
scipy==1.15.2
seaborn==0.13.2
shapely==2.0.7
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
starlette==0.46.1
supervision==0.25.1
sympy==1.13.1
tenacity==9.0.0
tiktoken==0.9.0
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2025.2
ultralytics==8.3.95
ultralytics-thop==2.0.14
urllib3==2.3.0
uvicorn==0.34.0
Werkzeug==3.1.3
zstandard==0.23.0
